@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --primary-color: #2095ae;
    --white-color: #fff;
    --light-gray-color: #ddd;
    --blue-color:#0f2454;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    font-family: "poppins", sans-serif;
    font-weight: 500;
}

html {
    font-size: 16px;
}

/* ============Utality classes Start ========== */
.container {
    width:100%;
    max-width: 1200px;
    margin: -15px auto;
    padding: 0 1rem;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
}

.heading-normal-txt {
    font-size: 1rem;
    letter-spacing: 6px;
    color: var(--primary-color);
}

.headings {
    text-transform: uppercase;
    font-family: "ubuntu";
    padding-bottom: 2rem;
    letter-spacing: 2px;
} 

.headings span {
    color: var(--primary-color);
}

.secondary-headings {
    font-size: 2.5rem;
    font-family: "ubuntu";
    padding-bottom: 1rem 0 ;
}

.lead {
    font-size: 1.1rem;
    line-height: 1;
    text-align: justify;
}

.primary-btn {
    width: 50%;
    background-color: var(--primary-color);
    border: none;
    padding: 0.7rem;
    margin: 0 0.2rem;
    font-size: 1rem;
    border-radius: 4px;
    color: var(--white-color);
    cursor: pointer;
}

/* ============Utality classes Close ========== */



/* ============Header Start ========== */
header {
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100px;
    transition: all 0.5s ease-in-out;
}

header.sticky {
    background: var(--primary-color);
}

.logo img {
    width: 20%;
    height: 100%;
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
   list-style-type: none;
   display: flex;
}

nav ul li {
    margin: 0 0.6rem;
    position: relative;
}

nav ul li a { 
    color: var(--white-color);
    font-size: 1.1rem;
}

nav ul li::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--white-color);
    opacity: 0;
    transition: all 0.3s ease-in;
}

nav ul li:hover::before {
    opacity: 1;
    width: 100%;
}

.btn {
    font-size: 1.1rem;
    color: var(--white-color);
    cursor: pointer;
    display: none ;
}


/* ============Header Close ========== */

/* ============Showcase Start ========== */
main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.swiper {
    height: 100vh;
}

.slider-container {
    width: 100%;
}

.slider-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-overlay {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 100%;
    font-family: "ubuntu";
    transform: translate(-50%, -50%);
}

.img-overlay p {
    font-size: 1rem;
    letter-spacing: 8px;
    color: var(--white-color);
    animation: animate 4s forwards;
}

.img-overlay h2 {
    font-size: 5rem;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 8px;
    animation: animate 4s forwards;
    transition: all 0.5s ease-in-out;
}

.overlay {
    position: relative;
}

.overlay::after { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

@keyframes animate {
    0%{
        transform: translateX(-50%);
        opacity: 0;
    }
    50%{
        opacity: 0.2;
    }
    70%{
        opacity: 0.5;
    }
    70%{
        opacity: 1;
        transform: translateX(-0%);
    }
}

.img-overlay h2 span {
    color: transparent;
    -webkit-text-stroke: 1px var(--white-color);
}

/* ============Showcase Close ========== */

/* ============Search Start ========== */
#location-search {
    transform: translateY(-170%);
}

.form-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
    width: 100%;
    border-radius: 10px;
}

form {
    display: flex;
    justify-content: center;
}

.form-control {
    width: 100%;
    margin: 0 0.2rem;
}

.form input,
 select { 
    padding: 0.6rem;
    font-size: 1.1rem;
    color: #333;
    border: 1px solid var(--light-gray-color);
    margin: 0 0.2rem;
    border-radius: 4px;
}

/* ============Search Close ========== */


/* ============About Start ========== */
.about-content-wrapper {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-column-gap: 3rem;
    margin: 3rem 0;
}

.about-content-wrapper,
.lead {
    line-height: 1.5;
}

.about-content-wrapper h2 span {
    color: var(--primary-color);
    font-family: "unbutu";
}

.about-content-wrapper ul {
    list-style: none;
}

.about-content-wrapper ul .icon {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.about-content-wrapper ul .icon i {
    background: var(--primary-color);
    padding: 0.2rem;
    border-radius: 50%;
    color: var(--white-color);
}

.about-content-wrapper ul p {
   margin-left: 1rem;
}

.agency-right-side .img {
    position: relative;
}

.agency-right-side .img img { 
    width: 75%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
    display: block ;
    transition: 0.5s ease-in;
}

.agency-right-side .img::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 55px;
    bottom: 0;
    right: 0;
    background: var(--primary-color);
    width: 70%;
    height: 100%;
    z-index: -2;
}

.agency-right-side .img img:hover {
    transform: scale(0.95);
}

/* ============About Close ========== */

/* ============choose ploce >tart========== */

#choose-ploce {
    padding: 6rem 0;
}

.choose-wrapper {
    display: grid ;
    grid-template-columns:2fr 1fr;
    grid-gap: 2rem;
}

.lg-img {
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.lg-img:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.lg-img:hover {
    transform: scale(1.02);
}

.img-content {
    position: absolute;
    bottom: 5px;
}

.img-content h2 {
    font-size: 1.3rem;
    padding: 0 0.5rem;
    color: var(--white-color);
}

.hidden-content {
    padding: 0.5rem 0.5rem;
    color: var(--white-color);
    transform: translateY(120%);
    transition: all 0.5s ease-in-out; 
}

.hidden-content i {
    padding: 0.2rem 0.2rem 0 0 ;
}

.lg-img:hover .hidden-content {
    transform: translateY(0%);
}

.price-label {
    background: var(--primary-color);
    color: var(--white-color);
    padding: 0.5rem 0.5rem;
    position: absolute;
    top: 0px;
    right: 0;
}

.img-right-side {
    font-size: 0.8rem;
}

.lg-img img {
    height: 465px;
}

.row-wise-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 10px;
}

/* ============choose ploce Close ========== */

/* ============Static Cuonter Start ========== */

#static-counter {
    padding: 6rem 0;
    background: url(../img/Static-1.jpg) no-repeat center center/cover;
    background-attachment:fixed; 
    position: relative;
    z-index: 4;
}

#Static-counter::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.static-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 2rem 0;
}

.static-icons {
    color: var(--white-color);
    cursor: pointer;
}

.static-icons i {
    font-size: 3rem;
    padding: 2rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.nembers {
    font-size: 3.rem;
    font-weight: 600;
    margin-top: 1rem;
}

.static-icons i:hover {
    background: var(--primary-color);
    border: none;
    transform: translateY(-20%);
}


/* ============Static Cuonter Close ========== */

/* ============Top Destination Carousel Start ========== */
#top-destination {
padding: 6rem 2.5rem;
}

.top-destination-wrapper {
    width: 100%;
}

.carousel {
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.carousel img {
    height: 500px;
}

.carousel:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.carousel-img-overlay {
    width: 100%;
}

.carousel-img-overlay i {
    padding-right: 1rem;
}

.hidden-content-carousel {
    padding: 0.5rem 0.5rem;
    color: var(--white-color);
    transform: translateY(120%);
    transition: all 0.5s ease-in-out;
}

.hidden-content-carousel span {
    font-size: 0.8rem;
}

.carousel:hover .hidden-content-carousel{
    transform: translateY(0%);
}

.carousel:hover {
    transform: scale(1.1);
}

/* ============Top Destination Carousel Close ========== */

/* ============Video Background Costa  > Start ========== */
#costa-victoria {
    padding: 6rem 0;
    position: relative;
}

#costa-victoria video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    max-height: 650px;
}

.video-bg {
    position: relative;
}

.video-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.video-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    color: var(--white-color);
}

.video-content h2 {
    font-size: 2rem;
    letter-spacing: 4px;
    color: var(--white-color);
    font-family: "ubuntu";
    margin-bottom: 1rem;
}

.video-content span {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 1rem;
}

/* ============Video Background Costa  > Close ========== */

/* ============Travel Countries > Start ========== */

#travel-countries {
    padding: 6rem 0;
}

.travel-countries-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 2.5rem;
    width: 100%;
}

.countries-content {
    margin-top: 1rem 0;
    line-height: 2.4;
}

.countries-content ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.countries-content ul li {
    margin: 1rem 0;
}

.countries-content ul li i {
    margin: 0rem 0.5rem;
}

.slider-content-wrapper {
    overflow: hidden;
}

/* Viá»‡t nam */
.vietnam-content {
    padding: 8rem 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 100%;
    grid-gap: 2rem;
}

/* ============Travel Countries  > Close ========== */

/* ============Travel Blog  > Start ========== */
#travel-blog {
    background:var(--blue-color) ;
    padding: 6rem 0;
}

.blog h2 {
    color: var(--light-gray-color);
}

.blog {
    position: relative;
    height: 100%;
}

.blog img {
    height: 500px;
}

.blog:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.blog-img-overlay {
    width: 100%;
}

.blog-img-content {
    position: absolute;
    bottom: 20px;
}


.blog-img-content{
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 2rem 1rem;
    transition: all 0.3s ease-in;
    transform: translateY(-50%);
    color: var(--white-color);
}

.blog:hover .blog-img-content {
   transform: translateY(0%); 
}

.blog .price-label {
    transform: rotate(0deg);
}

/* ============Travel Blog  > Close ========== */

/* ============Testimonails  > Start ========== */
#testimonails {
    padding: 6rem 0;
    width: 100%;
    background: url(../img/Container-2.jpg) no-repeat center center/cover;
    background-attachment: fixed;
}

#testimonails .headings {
    color: var(--white-color);
}

.testimonails-wrapper {
   overflow: hidden;
   background: rgba(0, 0, 0, 0.8);
   color: var(--white-color);
   padding: 2rem 6rem; 
}

.testimonails-wrapper {
    color: var(--primary-color);
}

.testimonails-wrapper p {
    text-align: center;
}

.test-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-img img {
    width: 20%;
    object-fit: cover;
    margin: 1rem 0;
    border-radius: 50%;
}

.icons {
    text-align: center;
}

.guest {
    font-size: 0.6rem;
}

/* ============Testimonails  > Close ========== */

/* ============Footer  > Start ========== */
#footer {
    padding: 3rem 0;
    background: var(--blue-color);
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 1px solid var(--light-gray-color);
}

.ft-content {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: var(--white-color);
}

.ft-content p {
    font-size: 0.9rem;
}

.review {
    color: var(--white-color);
}

.icon i {
    padding: 1rem;
    font-size: 2rem;
    background: var(--primary-color);
}

.content {
   padding: 1rem; 
}

.footer-wrapper {
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    padding: 1rem 0 ;
    grid-gap: 2rem;
    color: var(--white-color);
    margin: 3rem 0;
}

.about img {
    width: 50%;
    object-fit: cover;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons i {
    background: var(--primary-color);
    color: var(--white-color);
    padding: 0.5rem;
    font-size: 1rem;
    margin: 1rem 0;
    border-radius: 50%;
    cursor: pointer;
}

.about .lead {
    font-size: 0.8rem;
    margin-top: 1rem;
}

.links ul {
    list-style: none;
}

.links ul li {
    margin: 0.5rem ;
    font-size: 1rem;
}

.links ul li a {
    color: var(--white-color);
}

.subscribe .lead {
    font-size: 0.9rem;
    letter-spacing: 1;
}

form {
    position: relative;
}

.subscribe input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid var(--light-gray-color);
    border-radius: 5px;
    margin-top: 1rem;
}

.subscribe button {
    display: block;
    position: absolute;
    top: 35%;
    right: 4%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    font-size: 0.7rem;
}

.footer-footer-link {
    border-top: 1px solid var(--light-gray-color);
    display: flex;
    justify-content: center;
}

.footer-footer-link a img {
    width: 10rem;
    height: 4rem;
    object-fit: contain;
    padding: 0.2rem;
    margin: 0.2rem;
}

.footer img {
    width: 10%;
}

.footer p  {
    text-align: center;
    padding: 1rem 0;
    color: var(--white-color);
}


/* ============Footer  > Close ========== */













